body {
    margin: 0;
    padding: 0;
}

/* header */

header {
    display: flex;
    background-color: #576574;
    text-align: center;
    padding: 15px 0 15px 0;
}

@media (max-width: 800px) {
    header {
        flex-direction: column;
    }
    header ul {
        padding-left: 0;
    }
}

header > * {
    flex: 1;
}

/* navbar */

header a {
    color: white;
    text-decoration: none;
}

nav li {
    display: inline;
}

nav li:not(:last-child) {
    margin-right: 5px;
}

nav li a:hover {
    text-decoration: underline;
}

/* navbar menus */

.hidden {
    display: none;
    margin: 0 0 0 45px;
}

nav li:hover .hidden {
    display: block;
}

/* footer */

footer {
    background-color: #576574;
    text-align: center;
    padding: 10px 0 10px 0;
    width: 100%;
    color: white;
    bottom: 0;
}

/* content */

section {
    margin: 5%;
    display: flex;
    align-items: center;
}

section h2 {
    text-decoration: underline;
}

section p {
    font-size: 17px;
}

section a {
    color: black;
    text-decoration-color: #ff9f43;
}

section a:hover {
    text-decoration-color: #341f97;
}

@media (max-width: 800px) {
    section {
        flex-direction: column;
    }
}

/* content index */

#copenhague {
    width: 500px;
    border-radius: 10px;
    margin-left: 75px;
}

@media (max-width: 800px) {
    #copenhague {
        width: 100%;
        margin-left: 0;
    }
}

/* content data */

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: center;
}

table {
    border-collapse: collapse;
}

#munch {
    width: 500px;
    border-radius: 10px;
    margin-right: 75px;
}